* {
  font-family: 'Source Sans Pro', sans-serif;
  
}
body{
  background-color:#FCFCFC;
}
.background-img {
  height: 100%;
  background-image: linear-gradient( rgba(100, 50, 0, 0.45), rgba(50, 90, 80, 0.85) ) 
  ,url('./images/Brickworks-bacgkround.jpeg');
  background-size: cover; 
  /* background-color: #FAFAFA; */
  padding: 0;
}

#logo {
  margin: auto;
  background-color: #FAFAFA;
}

#logo-img {
  margin: auto;
}
#logo-small {
  width: 1.1em;
  float: right;
}

#bike-img {
  height: 25rem;
  margin: 2rem;
} 

.wrapper {
  /* width: 75%; */
  width:80%;
  margin: auto;
  background-color: #FCFCFC;
  min-height: 100vh;
  padding-bottom: 1rem;
}

 /*NAVBAR*/

.nav {
  position: absolute;
  left: 11vw;
}

.nav-link {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem;
  font-size: 1.4em;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

.image {
    position: absolute;
    width: 6vw;
    height: 6vh;
    margin: 10px;
    cursor: pointer;
}

.image span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.image span:before, .image span:after {
    position: absolute;
    content: '';
}

.image span, .image span:before, .image span:after {
    width: 31px;
    height: 6px;
    background-color: #ffffff;
    display: block;
}

.image span {
  transition: transform 1s ease;
}

.image span:before {
  margin-top: -12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

.image span:after {
  margin-top: 12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

.image-closed span {

}

.image-open span {
  /* position: fixed; */
  transform: scaleX(1.5);
  transform: scaleY(0.7);
}

.image-closed span:after {

}

.image-open span:after {
  transform: translateX(-2px) rotate(45deg);
}

.image-closed span:before {
  
}

.image-open span:before {
  transform: translateX(-2px) rotate(-45deg);
}

.single-event-img {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
  width: 40vw;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 23vw;
  background-color: #525252;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: auto;
  padding-top: 4rem;
}

/* .menu-con {
  position: absolute;
  left: 1vw;
  width: 23vw;
  height: 100vh;
  overflow: hidden;
} */

/* .menu-con-closed {
  display: hidden;
} */

.menu-closed {
  transform: translate3d(-42.5vw, 0, 0);
}

.menu-open {
  position: fixed;
  transform: translate3d(0vw, 0, 0);
}

 /*HEADINGS*/
 /* h1 { */
  #head-h1{
  height: 3.5rem;
  background-color: #7e7e7e;
  color: #fafafa;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  }
h1.page-heading{
  font-family: 'Nunito', sans-serif;
  text-align:center;
  font-size:2.5em;
}
#detail-event-heading{
  font-size:2em;
}
.page-div {
  width:70%;
  /* border:1px solid green; */
  margin:0 auto;
}
/* h2.page-hTwo{ */
  .page-hTwo{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size:2em;
  color: #585858;
  text-align:center; 
}
.top-ten-h2{
  font-weight: 500;
  font-style: italic;
  font-size: 1.5em;
}
/* h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #585858; 
} */
#centre-align{
  text-align:center;
}
#none-li-style{
  list-style-type:none;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #585858; 
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-weight: 600;
  font-size: 1.5rem;
  color: #004c7b;
  text-align: left;
  margin: 1rem 0.1rem;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-weight: 600;
  font-size: 1.3em;
  color: #004c7b;
  text-align: left;
  padding-top: 1rem;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}

.strong-txt {
  font-size: 1.8rem;
  color: #2a2a2a;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* .strong-txt-two {
  font-size: 1.8em;
  text-align: center;
  color: #2a2a2a;
  font-weight: 600;
} */

.options-message {
  font-size:1.2em;
  text-align: center;
  padding-bottom: 1em;
  /* font-size: 1.4rem;
  color: #2a2a2a;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem; */
}

.options-message-two {
  font-size: 1.4rem;
  color: #2a2a2a;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

/*MAIN CONTENT*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* padding-bottom: 2rem; */
}

  /*TEXT CONTAINERS*/

.hub-description {
  margin: 1rem 6rem;
  font-size: 1.2em;
  line-height: 2rem;
  text-align: center;
  color: #2a2a2a;
}

.hub-description-two {
  margin: 0rem 5rem;
  font-size: 1.2em;
  line-height: 2rem;
  color: #2a2a2a;
}

.hub-description-three {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 1rem;
}

.hub-description-four {
  margin: 2rem 8rem;
  font-size: 1.2em;
  line-height: 2rem;
  text-align: center;
  color: #2a2a2a;
}

  /*LISTS*/

a {
  color: #004c7b;
  text-decoration: none;
}


ol {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  width: 70vw;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .single-event-container {
   display: flex;
   flex-direction: column;
   margin: 4rem;
   padding: 2rem;
   justify-content: center;
 }

 .ul-single-event {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  width: 50vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

ul {
  /* display: flex;
  flex-direction: column; */
  /* by default ul > li s display in list starting at new line and left-aligned */
  /* list-style-type: none; */
  /* width: 70vw; */
}
.social-action-ul{
  /* padding-top:1.5em;
  padding-bottom:2em; */
  margin-block-end: 2.5em;
  list-style-type: none;
}
.top-ten-tip-ul{
  list-style-type: decimal;
  padding-inline-start: 1em;

}
#detail-event-ul{
  padding-inline-start:0;
}   
li {
  font-family: 'Nunito', sans-serif;
  /* font-size:1.3em; */
  font-size: 1.5rem;
  color: #2a2a2a;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.social-action-li{
  font-size: 1.4em;
}

.li-p-strong {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a2a2a;
  padding-top: 10px;
  padding-bottom: 5px;
}

.li-style1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #004c7b;
}

/* hr {
  background-color: #fff;
	border-top: 2px dashed #8c8b8b;
} */

.link {
  color: #004c7b;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 20px;
}

.resource-link {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.question {
  margin: 3rem 2rem 0rem 2rem;
  line-height: 1.5rem;
  font-size: 1.2em;
}

.inspiration {
  margin: 1rem 3rem;
  line-height: 2rem;
  font-size: 1.2em;
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  /*
  margin: 2rem; */
  display: flex;
  flex-direction: column;
  width: 80%;
  padding:5%;
  margin:0 auto;
  margin-top:1em;
  border:1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
  
}

form > input {
  /* height: 2rem;
  margin-bottom: 2rem;*/
  height: 3em;
  margin-bottom: 3em;
  /* width: 27rem; */
  width:98%;
  border-radius: 5px;
  background-color: #eeeeee;
}

textarea {
  margin-bottom: 2rem;
}

.red-asterisk {
  color: red;
  font-size: 1.5rem;
  }

label {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

textarea {
  background-color: #eeeeee;
  border-radius: 5px;
}

.choices {
  display: flex;
  flex-direction: row;
  margin: 0.5rem; 
}

.label-checkbox {
  margin-right: 0;
  margin-left: auto;
}

.checkbox {
  border-radius: 5%;
  width: 2rem;
  height: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.error-container {
  padding: 8px;
}

.formErrors {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: red;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
}

/*BUTTONS*/

.button-large {
  display: flex;
  margin: auto;
  letter-spacing: 0.08rem;
  font-weight: 600;
  font-size: 1.5em;
  color: #2a2a2a;
  background-color: rgb(101, 196, 247);
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #888888;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button-large:hover {
  background-color: rgb(168, 226, 245);
}

.button-large:active {
  background-color: rgb(101, 196, 247);
}

.add-event-button:hover {
  background-color: rgb(168, 226, 245);
}

form > button:disabled {
  margin-top: 2rem;
  background-color: lightgray;
}

/* FOOTER */

footer {
  width: 75%;
  margin: auto;
  background-color: #525252;
  color: white;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}

.error-h1 {
  font-family: Arial, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: white;
  color: slategray;
}

/*----------------------------------------------*/

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
  h1.page-heading{
    font-size:2em
  }
  #detail-event-heading{
    margin-left: .5em;
    margin-right: .5em;
    font-size:1.6em;
  }
  #contact-heading{
    font-size:1.8em;
  }
  /* h2.page-hTwo { */
    .page-hTwo{
    font-size:1.6em;
  }
  .top-ten-h2{
    font-size: 1.3em;
  }
  .page-div{
    width:90%;
  }
  #contact-page-div-small{
    width:95%;
  }
  .social-action-ul{
    width: 100%;
    margin-block-end: 1.5em;
    padding: 0;
    margin: 0;
  }
  ul.social-action-ul{
    margin-block-end: 1.5em;
  }
  
  .social-action-li{
    font-size:1.15em;
    margin-bottom: .5em;
    margin-left:1em;
  }
  .li-style1{
    margin-bottom: .5em;
    margin-left:1em;
  }
  form{
    width:90%;
    margin-top:2em;
    margin-left:0;
    margin-right:0;
  }
  form > input {
    margin-bottom:1.5em;
    width:98%;
  }
  .options-message{
    padding-bottom:0;
  }
  #error-container {
    font-size:.8em;
    margin-block-start: .5em;
    margin-block-end: .5em;
  }

  .nav {
    position: inherit;
    width: 100vw;
  }

  .nav-link {
    margin: 2rem;
    font-size: 1.6em;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
  }

  .menu-con {
    left: 0vw;
  }

  .menu {
    width: 100%;
  }

  .menu-closed {
    transform: translate3d(-100vw, 0, 0);
  }
  
  .menu-open {
    transform: translate3d(0vw, 0, 0);
   }

  .wrapper {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  footer {
    height: 3rem;
    width: 100%;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.375em;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  ul {
    width: 80vw;
    margin: auto;
    display: block;
    padding: 0.5rem;
  }

  .li-style1 {
    font-size: 1.2em;
  }

  .hub-description-four {
    display: none;
  }

  #logo {
    margin-top: 3rem;
  }

  .button-large {
    /* margin-top: 1rem; */
    margin-bottom:2em;
  }
}

@media only screen and (max-width: 1070px) {
  

  .nav {
    width: 80%;
  }

  .menu-closed {
    transform: translate3d(-150vw, 0, 0);
  }

  .menu {
    width: 75vw;
  }

  .hub-description-four {
    margin: 1rem 3rem;
  }

  .hub-description-two {
    margin: 1rem 1.5rem;
  }

  h2 {
    margin: 1.5rem; 
  }

  ul {
    /* width: 70vw;
    margin: auto;
    display: block;
    padding: 0.5rem; */
  }

  .link {
    text-align: center;
  }

  .question {
    margin: 3rem 2rem 0rem 2rem;
    line-height: 2rem;
    font-size: 1em;
  }
}
