

body {
  height: 100vh;
  background-image: url('./images/Brickworks-bacgkround.jpeg');
  background-size: cover; 
  background-color: #FAFAFA;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
}

#logo {
  margin: 0 auto;
  background-color: #FAFAFA;
  max-width: 40vw;
}

#logo-img {
  margin: 0 auto;
  max-width: 40vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 4px;
  grid-column: col-start / span 12;
  margin-left: 0;
  margin-right: 0;
  background-color: #FAFAFA;
  min-height: 80vh;
  }


 
/*NAVBAR*/

.nav {
  position: absolute;
  top: 0.25em;
  margin: 0 25 0 5px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem;
  font-size: 1.4em;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid whitesmoke;
}

.image {
    position: absolute;
    width: 6vw;
    height: 6vh;
    margin-right: 10px;
    cursor: pointer;
}

.image span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.image span:before, .image span:after {
    position: absolute;
    content: '';
}

.image span, .image span:before, .image span:after {
    width: 31px;
    height: 6px;
    background-color: whitesmoke;
    display: block;
}

.image span {
  transition: transform 1s ease;
}

.image span:before {
  margin-top: -12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

.image span:after {
  margin-top: 12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

.image-closed span {

}

.image-open span {
  /* position: fixed; */
  transform: scaleX(1.5);
  transform: scaleY(0.7);
}

.image-closed span:after {

}

.image-open span:after {
  transform: translateX(-2px) rotate(45deg);
}

.image-closed span:before {
  
}

.image-open span:before {
  transform: translateX(-2px) rotate(-45deg);
}

#menu-div {
  padding-top: 22px;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 40vw;
  background-color: #7E7E7E;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: auto;
  padding-top: 4rem;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: whitesmoke;
}

.menu-closed {
  transform: translate3d(-42.5vw, 0, 0);
}

.menu-open {
  transform: translate3d(0vw, 0, 0);
}

 /*HEADINGS*/

 h1 {
  grid-column: col-start / -1;
  grid-row: 1 / 2;
  height: 3rem;
  background-color: #7e7e7e;
  color: #fafafa;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-top: 0.5rem;
  }

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #585858; 
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #585858; 
}

/*MAIN CONTENT*/

main {
  display: flex;
  flex-direction: column;
  grid-column: col-start 2 / -1;
  grid-row: 2 / span 3;
  align-items: center;
  justify-items: center;
  margin: 1rem;
  }

#sidebar {
  grid-column: col-start / span 1;
  grid-row: 2 / 7;
  width: 0.01vw;
  background-color: #f5f5f5;
  margin-top: 0.5rem;
}


  /*TEXT CONTAINERS*/

  #hub-description {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.38rem;
    color: #2a2a2a;
  }
  

  /* RUNNING TEXT */
running-text {
  margin-left: 0.2rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #2a2a2a;
}

  /*EMPHASIS*/
  #click-here {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #585858; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  }

  /* LINKS */
  .link {
    color: #3343D7;
  }

  /*LISTS*/

ol {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }


ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 70vw;
  padding: 1rem;
}

li {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #2a2a2a;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.insp-answer {
  margin-left: 0.2rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #2a2a2a;
}

/*ACCORDION LIST*/

.accordion {
  padding: 0 10px;
  margin: 0 auto;
  list-style: none outside;
}

.acc-item-input-heading {
  display: block;
  position: relative;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #585858;
}

.acc-item-input:checked ~ .acc-list-content {
  max-height: 1000px;
  padding-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: max-height 1s ease-in, margin .2s ease-in, padding .2s ease-in;
  transition: max-height 1s ease-in, margin .2s ease-in, padding .2s ease-in;
}

.acc-item-input:checked ~ .acc-item-input-heading > .acc-list-arrow {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.acc-item-input:checked ~ .acc-item-input-heading > .acc-list-span:hover {
  color: #6cb7e2;
}

.acc-list-arrow {
  display: block;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px );
  right: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.acc-list-arrow:hover {
  background-color: #6CB7E2;
}

.acc-list-arrow:active {
  color: #6CB7E2;
}

acc-h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #585858;
  margin-bottom: 0;
}


.acc-list-content {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .1s ease-out, margin-bottom .2s ease-out, padding .2s ease-out;
  transition: max-height .1s ease-out, margin-bottom .2s ease-out, padding .2s ease-out;
}

.acc-item-input {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

/*BUTTONS*/

.button-large {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.08rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #2a2a2a;
  background-color: #67bdec;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  }

.button-large:hover {
  background-color: #ffc882;
}

.button-large:active {
  background-color: #ffc882;
}

#form-button {
  margin-top: 20px;
}

/*FORM*/
#main-form {  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90vw;
}

#form-h3 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90vw;
  
}

.form-label {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #585858; 
  margin-top: 10px;
}

.form-input {
  border-style: solid;
  border-width: 2px;
  border-color: #a9b7b9;
  padding: 6px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;

}

/* Currently it does not seem possible to type into the textarea? */
textarea {
  border-style: solid;
  border-width: 2px;
  border-color: #a9b7b9;
  border-radius: 5px;

}

.choices {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  
}

.choices-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #2a2a2a;
}


/* FOOTER */
footer {
  grid-column: col-start / -1;
  grid-row: 6 / span 2;
  height: 2rem; 
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  padding: 20px;
  color: whitesmoke;
  background-color: #7e7e7e;
  }

/*----------------------------------------------*/

/*MEDIA QUERIES*/

@media screen and (min-width: 500px) and (orientation: landscape) {

  .nav {
    position: absolute;
    top: 1.25em;
  }

  .menu {
    position: absolute;
    height: 100vh;
    width: 23vw;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow-y: auto;
    padding-top: 4rem;
  }

  h1 {
      grid-column: col-start / -1;
      grid-row: 1 / 2;
      height: 5rem;
      font-size: 2.6rem;
      line-height: 5rem;
  }

  #sidebar {
    grid-column: col-start / span 1;
    grid-row: 2 / 7;
    width: 10vw;
    background-color: #f5f5f5;
  }

  #hub-description {
    
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
   
  }

}

